{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      <p>
        This web app is a blogging platform that allows you to create and edit your own posts with an advanced text editor (CKeditor).
        </p>
        <p>
        You can also customize each page with a different header. The app is built with Python Flask, SQLAlchemy, WTFforms, HTML, CSS, Bootstrap, JavaScript, JQuery, and Ajax. The app also has authentication and hash encrypted secure password for the admin and the users. Users can sign up and comment on the posts, and they get a random profile picture.
      </p>


      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}